<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Finder</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="welcome">
        <h1>Add a New Food</h1>
      

    </div>

    <form class="foodForm">
        <div>
            <input id="newFood">Add food here</input>


        </div>
    </form>

        <div class="button">
            <button id="submitbtn">Add Food</button>
        </div>
        



    <script src="/javascript/add-btn.js"></script>

   
</body>
</html>