<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Finder</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="welcome">
        <h1>What should we have for dinner?</h1>

        

    </div>

    <div class="foodChoice">
        {% include "partials/foodItems.html" %}
       

    </div>

    <div class="button">
        <button id="btn">Pick a food</button>

    </div>

    <script src="/javascript/search-btn.js"></script>
</body>
</html>